.row img{
    height: 70vh;
    width: 60vh;
}

#one{
    background-color: rgb(235, 67, 101);
    height: 70vh;
    width: 55vh;
}
#one h3{
    margin-top: 90px;
    padding: 40px;
}
#one p{
    font-size: 22px;
}
#three{
    background-color: rgb(202, 195, 195);
    height: 35vh;
    width: 80vh;
}
#three h3{
    font-weight: bold;
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}
#hobbies{
    margin-left: 120px;
}
#hobbies p strong{
    color:  rgb(235, 67, 101);
}
#hobbies li em{
    font-size: larger;
}
.section2{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
}
.section2 p{
    font-size: 20px;
}
#student{
    color: rgb(235, 67, 101);
}
.img img{
    height: 10vh;
    width: 15vh;
}


.box{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    border: 2px solid rgb(202, 195, 195) ;
    height: 15vh;
    padding: 3vh;
    background-color:rgb(202, 195, 195);
    width: 200vh;
    margin-left: 20px;
   
  
   
}
.cv{
    border: 1px solid black;
    height: 8vh;
    width: 25vh;
    background-color: rgb(235, 67, 101);
}
.portfolio{
    border: 1px solid black;
    height: 8vh;
    width: 35vh;
    background-color: rgb(235, 67, 101);
}
.projects{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    
}
#palace{
    height: 50vh;
    width: 60vh;
    border: 2px solid black;
    border-radius: 50px;
}
#insu{
    height: 50vh;
    width: 60vh;
    border: 2px solid black;
    border-radius: 50px;
}

#proj{
    background-image: url(images/music-g538ca3f20_1920.jpg);
    height: 800px;
    background-size: cover;
    background-position: center;
}
#proj h4{
    padding: 20px;
    text-align: center;
}
.num1 p {
    font-size: larger;
    font-weight: bolder;
    margin-top: 20px;
}
.num1{
    color: white;

}
.num2 p {
    font-size: larger;
    font-weight: bolder;
    margin-top: 20px;
}
.num2{
    color: white;
}
.num2 button{
    height: 10vh;
    width: 40vh;
    padding: 20px;
    margin-top: 60px;
    background-color: rgb(235, 67, 101);
    border: 2px solid black;
    border-radius: 40px;
}
.num1 button{
    height: 10vh;
    width: 40vh;
    padding: 20px;
    margin-top: 60px;
    background-color: rgb(235, 67, 101);
    border: 2px solid black;
    border-radius: 40px;
   
}
.num1 a{
    color: black;
}
.num2 a{
    color: black;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(235, 67, 101);
}
#rights,#design{
    margin-top: 50px;
    font-size: larger;

}









